body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
  }
  
  #time-display {
    margin-top: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 1.5em;
    color: #555;
  }
  